<h1>Public::Works#show</h1>
<div class="container">
  <h2>実績詳細</h2>
  <div class="flex">
    <div>
      <% if @work.image.attached? %>
        <%= image_tag @work.image, size: '320x180', class: "img-responsive" %><br>
      <% else %>
        <%= image_tag 'no_image', size: '320x180' %><br>
      <% end %>
    </div>
    <div>
      <table>
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>タイトル</td>
            <td><%= @work.title %></td>
          </tr>
          <tr>
            <td>説明文</td>
            <td><%= @work.body %></td>
          </tr>
          <tr>
            <td>URL</td>
            <td><%= text_url_to_link(h(@work.url)).html_safe %></td>
          </tr>
        </tbody>
      </table>
      <div>
        <% if user_signed_in? && current_user.id == @work.user_id %>
          <%= link_to "編集", edit_work_path(@work), class: "btn btn-success" %>
          <!--削除-->
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <%= render 'public/reviews/form', review: @review, work: @work %>
  </div>
</div>