<div class="container mt-5">
  <h2>商品詳細</h2>
  <div class="text-center">
    <%= image_tag @skill.get_image, id: "img_prev" %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ユーザー名</td>
        <td><%= link_to @skill.user.user_name, admin_user_path(@skill.user.id) %></td>
      </tr>
      <tr>
        <td>商品名</td>
        <td><%= @skill.name %></td>
      </tr>
      <tr>
        <td>説明</td>
        <td><%= @skill.body %></td>
      </tr>
      <tr>
        <td>ジャンル</td>
        <td>
          <% @skill.genres.each do |genre| %>
            <span><%= genre.name %></span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>税別価格</td>
        <td><%= @skill.price %>円</td>
      </tr>
      <tr>
        <td>販売ステータス</td>
        <td>
          <% if @skill.is_active? %>
						<span class="text-active">販売中</span>
					<% else %>
						<span class="text-invalid">販売停止中</span>
					<% end %>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="flex text-center">
    <%= link_to "編集する", edit_admin_skill_path(@skill), class: "btn btn-success" %>
  </div>
</div>
