<%= form_with model:skill, url: url do |f| %>
  <%= render 'layouts/error_messages', resource: skill %>
  <div class="flex">
    <div class="my-3">
      <h3><%= f.label :image, "画像" %></h3>
      <div class="image_field">
				<%= image_tag (skill.image.attached? ? skill.image : 'no_image.png'), id: "img_prev", width: "200" , height: "200" %>
				<span class="btn btn-file btn-info"><%= f.file_field :image, accept: 'image/*', :id => 'post_post_img' %>画像選択</span>
				<p>選択するとプレビューされます。画像未選択のままだと、「NOIMAGE」になります。</p>
			</div>
			<script type="text/javascript">
        $(function() {
          function readURL(input) {
            if (input.files && input.files[0]) {
              var reader = new FileReader();
              reader.onload = function (e) {
                $('#img_prev').attr('src', e.target.result);
              }
              reader.readAsDataURL(input.files[0]);
            }
          }
          $("#post_post_img").change(function() {
            $('#img_prev').removeClass('hidden');
            readURL(this);
          });
        });
      </script>
    </div>

    <table class="table my-5">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= f.label :name, "商品名" %></td>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <td><%= f.label :body, "商品説明" %></td>
          <td><%= f.text_area :body, rows: 3 %></td>
        </tr>
        <tr>
          <td><%= f.label :genre_id, "ジャンル" %></td>
          <td>
            <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) do |genre| %>
              <div class="form-check">
                <%= genre.label class: 'form-check-label' do %>
                  <%= genre.check_box class: 'form-check-input' %>
                  <%= genre.text %>
                <% end %>
              </div>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><%= f.label :price, "税抜価格" %></td>
					<td><%= f.number_field :price %>円</td>
        </tr>
        <tr>
          <td><%= f.label :sales_status, "販売ステータス" %></td>
					<td class="select_field">
						<%= f.radio_button :is_active, true %>
						<%= f.label :is_active, "販売中", class: "text-active" %>
						<%= f.radio_button :is_active, false %>
						<%= f.label :is_active, "販売停止中", class: "text-invalid" %>
					</td>
        </tr>
      </tbody>
    </table>

    <div class="flex text-center m-5">
			<%= f.submit submit, class: "btn btn-primary" %>
		</div>

  </div>
<% end %>