<div class="container">
  <div class="m-4">
    <% if params[:genre_id] %>
      <h2><%= @genre.name %>の商品一覧 (全<%= @all_skills_count %> 件)</h2>
    <% else %>
      <h2>商品一覧 (全<%= @all_skills_count %> 件)</h2>
    <% end %>
    <h3 class="button0 offset-md-8">
      <% if user_signed_in? && current_user.is_editor == "editor_user" %>
        <span><%= link_to "商品追加", new_skill_path %></span>
      <% end %>
    </h3>
  </div>
  <% if @skills.first %>
    <%= render 'public/skills/index', skills: @skills %>
    <%= paginate @skills %>
  <% else %>
    <h3>対応する商品はありませんでした。</h3>
  <% end %>
</div>