<h1>Public::Skills#show</h1>
<div class="container">
  <h2>商品詳細</h2>
  <div class="flex">
    <div class="image_field text-center">
      <%= image_tag @skill.get_image, id: "img_prev" %>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>商品名</td>
        <td><%= @skill.name %></td>
      </tr>
      <tr>
        <td>商品説明</td>
        <td><%= @skill.body %></td>
      </tr>
      <tr>
        <td>ジャンル</td>
        <td>
          <% @skill.genres.each do |genre| %>
            <span><%= genre.name %></span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>税抜価格</td>
        <td><%= @skill.price %> 円</td>
      </tr>
      <tr>
        <td>販売ステータス</td>
        <td>
          <% if @skill.is_active? %>
            <span class="text-success">販売中</span>
          <% else %>
            <span class="text-danger">販売停止中</span>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="flex text-center p15">
    <%= link_to "編集する", edit_skill_path(@skill), class: "btn btn-success" %>
  </div>
</div>