<div>
  <% @another_entries.each do |entry| %>
    <%= link_to room_path(entry.room) do %>
      <div class="card card-body">
        <div class="d-flex">
          <object>
            <%= link_to user_path(entry.user) do %>
              <%= image_tag entry.user.get_profile_image %>
              <%= entry.user.name %>
            <% end %>
          </object>
          <%= Message.find_by(id: entry.room.message_ids.last)&.body %>
        </div>
      </div>
</div>
