<div class="container">
  <%= form_with model: @work do |f| %>
  <%= render 'layouts/error_messages', resource: @work %>
  <div class="form_group row">
    <%= f.label :title, "タイトル名" %>
    <div class="col-md-3">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="form_group row">
    <%= f.label :body, "説明文" %>
    <div class="col-md-5">
      <%= f.text_area :body, class: "form-control" %>
    </div>
  </div>

  <div class="form_group row">
    <%= f.label :url, "リンク先" %>
    <div class="col-md-5">
      <%= f.text_field :url, class: "form-control" %>
    </div>
  </div>

   <div class="my-3">
      <h3><%= f.label :image, "サムネイル" %></h3>
      <div class="image_field">
				<%= image_tag (@work.image.attached? ? @work.image : 'no_image.png'), id: "img_prev", class: "work_image" %>
				<span class="btn btn-file btn-info"><%= f.file_field :image,  accept:'image/*' %>画像選択</span>
				<p>選択するとプレビューされます。画像未選択のままだと、「NOIMAGE」になります。</p>
			</div>
    </div>
    <%= f.submit "更新する", class: "btn btn-primary m-2" %>
  </div>
<% end %>
</div>
