<div class="container">
  <h2 class="mt-5">注文履歴一覧</h2>
    <table class="table mb-5">
      <thead>
        <tr>
          <th>注文日</th>
		  		<th>注文商品</th>
		  		<th>支払金額</th>
	  			<th>ステータス</th>
	  			<th>注文詳細</th>
	  			<th></th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <% if order.user_id == current_user.id %>
          <tr>
            <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
            <td>
              <% order.skills.each do |skill| %>
                <p><%= skill.name %></p>
              <% end %>
            </td>
            <td><%= order.total_payment %></td>
            <td><%= order.status_i18n %></td>
            <td>
              <%= link_to "表示する", order_path(order), class: "btn btn-primary" %>
            </td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% if current_user.is_editor_i18n == "編集会員" %>
    <h2 class="mt-5">受注履歴一覧</h2>
    <% if @order_details.first %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>注文日</th>
			  	<th>注文商品</th>
			  	<th>支払金額</th>
			  	<th>ステータス</th>
			  	<th>ステータス更新</th>
        </tr>
      </thead>
      <tbody>
         <% @orders.each do |order| %>
          <tr>
            <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
            <td>
              <% order.skills.each do |skill| %>
                <p><%= skill.name %></p>
              <% end %>
            </td>
            <td><%= order.total_payment %></td>
            <td>
              <%= form_with model: order, url: order_path(order) do |f| %>
						    <%= f.select :status, Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]} %>
						    <%= f.submit "更新", class: "btn btn-primary" %>
					    <% end %>
            </td>
            <td>
              <% @order_details.each do |order_detail| %>
					      <%= form_with(model: order_detail, url: order_order_detail_path(order_id: order.id, id: order_detail.id)) do |f| %>
					  	    <%= f.select :making_status, OrderDetail.making_statuses.keys.map {|k| [I18n.t("enums.order_detail.making_status.#{k}"), k]} %>
					  	    <%= f.submit "更新", class: "btn btn-primary" %>
					  	  <% end %>
					  	<% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
	  <% else %>
      <h3>まだ注文が入っていません。</h3>
    <% end %>
  <% end %>
  <%= paginate @orders %>
</div>
