<div class="container">
  <h2 class="mt-5">注文履歴一覧</h2>
    <table class="table mb-5">
      <thead>
        <tr>
          <th>注文日</th>
		  		<th>注文商品</th>
		  		<th>支払金額</th>
	  			<th>注文詳細</th>
	  			<th></th>
        </tr>
      </thead>
      <tbody>
        <% current_user.orders.each do |order| %>

          <tr>
            <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
            <td>
              <% order.skills.each do |skill| %>
                <p><%= skill.name %></p>
              <% end %>
            </td>
            <td><%= order.total_payment %></td>
            <td>
              <%= link_to "表示する", order_path(order), class: "btn btn-primary" %>
            </td>
          </tr>

        <% end %>
      </tbody>
    </table>
  <% if current_user.is_editor_i18n == "編集会員" %>
    <h2 class="mt-5">受注履歴一覧</h2>
    <p>受注ステータスが入金確認になった場合、製作ステータスが製作待ちに変更されます。</p>
    <p>製作ステータスを変更すると、受注ステータスが変わります。(キャンセルのみ手動)</p>
    <% if @order_details.first %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>注文日</th>
			  	<th>注文商品</th>
			  	<th>支払金額</th>
			  	<th>依頼者</th>
			  	<th>製作ステータス</th>
			  	<th>受注ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
            <% order.skills.where(id: @target_skill_ids).each do |skill| %>
              <td>
                <p><%= skill.name %></p>
              </td>
              <td>
                <p><%= skill.with_tax_price %></p>
              </td>
              <% end %>
            </td>
            <td><%= link_to order.name, profile_path(order.user_id) %></td>
            <td>
              <!--whereと変数(controllerに記述)したものを使って、どれが必要なのかを絞っている。-->
              <% order.order_details.where(skill_id: @target_skill_ids).each do |order_detail| %>
                <%= form_with model: order_detail, url: order_order_detail_path(order_id: order.id, id: order_detail.id), class: 'form-inline', method: :patch do |g| %>
                  <%= g.select :making_status, OrderDetail.making_statuses_i18n.invert, {}, class: 'form-control' %>
                  <%= g.submit '更新', class: 'btn btn-primary offset-sm-2' %>
                <% end %>
              <% end %>
            </td>
            <td>
              <%= form_with model: order, url: order_path(order.id), class: 'form-inline', method: :patch do |f| %>
                <%= f.select :status, Order.statuses_i18n.invert, {}, class: 'col-sm-5 form-control' %>
                <%= f.submit '更新', class: 'btn btn-primary offset-sm-2' %>
              <% end %>
            </td>

          </tr>
        <% end %>
      </tbody>
    </table>
	  <% else %>
      <h3>まだ注文が入っていません。</h3>
    <% end %>
  <% end %>
  <%= paginate @orders %>
</div>
