<h1>Public::Orders#show</h1>
<div class="container">
  <h2>注文履歴詳細</h2>
  <caption class="fz18 text-left">注文情報</caption>
  <table class="order_info m-3">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>注文日</td>
        <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
      <tr>
        <td>納期期限</td>
        <td><%= @order.deadline.strftime('%Y/%m/%d') %></td>
      </tr>
      <tr>
        <td>支払方法</td>
        <td><%= @order.payment_method_i18n %></td>
      </tr>
      <tr>
        <td>ステータス</td>
        <td><%= @order.status_i18n %></td>
      </tr>
    </tbody>
  </table>

  <div class="flex">
    <caption class="fz18 text-left">注文内容</caption>
    <table class="order_details table table-bordered m-3">
      <thead>
        <tr>
          <th>商品</th>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <% @order.order_details.includes(:skill).each do |order_detail| %>
          <% skill = order_detail.skill %>
          <tr>
            <td>
              <%= image_tag skill.get_image, format: "jpeg", fallback: "no_image.png", class: "cart_item_image" %>
            </td>
            <td><%= link_to skill.name, skill_path(skill) %></td>
            <td class="text-right"><%= order_detail.price %> 円</td>
            <td class="text-center"><%= order_detail.amount %></td>
            <td class="text-right"><%= order_detail.subtotal %> 円</td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <caption class="fz18 text-left">請求情報</caption>
    <table class="confirm_prices has_border m-3">
			<thead>
				<tr>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>商品合計</td>
					<td><%= @order.order_details.sum(&:subtotal) %>円</td>
				</tr>
				<tr>
					<td>総計</td>
					<td class="bold"><%= @order.total_payment %>円</td>
				</tr>
			</tbody>
		</table>
  </div>
</div>
