<div class="container mt-5">
  <h2><%= @user.user_name %>さんの情報</h2>
  <table>
    <thead>
      <th></th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <td>会員ID</td>
        <td colspan="2"><%= @user.id %></td>
      </tr>
      <tr>
        <td>User_Name</td>
        <td><%= @user.user_name %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td colspan="2"><%= @user.email %></td>
      </tr>
      <tr>
        <td>電話番号</td>
        <td colspan="2"><%= @user.telephone_number %></td>
      </tr>
      <tr>
        <td>会員フラグ</td>
        <td colspan="2">
          <% if @user.is_editor_i18n == "通常会員" %>
            <span class="text-secondary">通常会員</span>
          <% else %>
            <span class="text-success">編集会員</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>会員ステータス</td>
        <td colspan="2">
          <% if @user.is_deleted == false %>
						<span class="text-success">有効</span>
					<% else %>
						<span class="text-danger">退会済み</span>
					<% end %>
        </td>
      </tr>

    </tbody>
  </table>

  <span>
    <%= link_to "レビュー一覧",  admin_user_reviews_path(user_id: @user.id), class: "btn btn-primary" %>
    <%= link_to "編集", edit_admin_user_path(@user), class: "btn btn-success" %>
    <!--%= link_to "注文履歴一覧を見る", admin_user_orders_path(@user), class: "btn btn-primary" %-->
  </span>

  <h4 class="m-5">
    <% if @works.first %>
      <p><%= @user.user_name %>の実績一覧 (全<%= @all_works_count %>件)</p>
      <table class="table">
        <thead>
          <tr>
            <th>タイトル</th>
            <th>サムネイル</th>
          </tr>
        </thead>
        <tbody>
        <% @works.each do |work| %>
          <tr>
            <td><%= link_to work.title, admin_work_path(work), class: "underline" %></td>
            <td>
              <% if work.image.attached? %>
                <%= image_tag work.get_image, size: "320x180" %>
              <% else %>
                <%= image_tag 'no_image', "320x180" %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate @works, :param_name => 'work_page' %>
    <% else %>
      <h3>実績がみつかりません。</h3>
    <% end %>
  </h4>
</div>
<div class="text-center my-5">
  <% if @skills.first %>
  <h4><%= @user.user_name %>の商品一覧</h4>
  <table class="table">
    <thead>
      <tr>
        <th>タイトル</th>
        <th>料金</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
    <% @skills.each do |skill| %>
      <tr>
        <td><%= link_to skill.name, admin_skill_path(skill), class: "underline" %></td>
        <td><%= skill.price %></td>
        <td>
          <% if skill.is_active == true %>
            <span class="text-active">販売中</span>
          <% else %>
            <span class="text-invalid">販売停止中</span>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @skills, :param_name => 'skill_page' %>
  <% else %>
    <h3>商品がみつかりません。</h3>
  <% end %>
</div>