<div class="container">
  <div class="m-5">
    <% if user.is_editor_i18n == "編集会員" %>
    <h3><%= user.user_name %>実績一覧</h3>
    <p>
      <% if user == current_user %>
      <!--ユーザーがログイン中のユーザの時だけ投稿を表示する。-->
        <%= link_to "投稿", new_work_path, class: "btn btn-lg btn-outline-secondary rounded-circle font-weight-bold shadow-sm offset-md-10" %>
      <% end %>
    </p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">タイトル</th>
          <th class="text-center">画像</th>
          <th class="text-center">説明文</th>
          <th class="text-center">評価</th>
        </tr>
      </thead>
      <tbody>
        <% user.works.order(created_at: :desc).each do |work| %>
          <tr>
            <td class="m-2 text-center align-middle"><%= work.title %></td>
            <td class="m-2 text-center align-middle">
              <%= link_to work_path(work.id) do %>
                <% if work.image.attached? %>
                  <%= image_tag work.image, size: '50%x50%', class: "img-responsive" %><br>
                <% else %>
                  <%= image_tag 'no_image', size: '50%x50%' %><br>
                <% end %>
              <% end %>
            </td>
            <td class="m-2 text-center align-middle"><%= work.body %></td>
            <td class="m-2 text-center align-middle">
              <h4><%= work.avg_score %>点 (<%= work.reviews.count %>件のレビュー)</h4>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div>
      <h2>商品一覧</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品ID</th>
		        <th>商品名</th>
		        <th>税抜価格</th>
		        <th>ジャンル</th>
		        <th>販売ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% skills.each do |skill| %>
            <% if skill.user_id == current_user.id %>
            <tr>
              <td><%= skill.id %></td>
              <td><%= link_to skill.name, skill_path(skill), class: 'underline' %></td>
              <td><%= skill.price %> 円</td>
              <td>
                <% skill.genres.each do |genre| %>
                  <span><%=link_to genre.name, skills_path(genre_id: genre.id) %></span>
                <% end %>
              </td>
              <td>
                <% if skill.is_active? %>
                  <span class="text-success">販売中</span>
                <% else %>
                  <span class="text-danger">販売停止中</span>
                <% end %>
              </td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <% end %>
  </div>
</div>