<div class="container">
  <table class="mx-auto my-5">
    <thead>
      <th></th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <td><%= image_tag @user.get_profile_image(100,100), class: "rounded-circle font-weight-bold shadow-sm" %></td>
      </tr>
      <tr>
        <td>Name</td>
        <td><%= @user.user_name %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <td>自己紹介文</td>
        <td><%= @user.bio %></td>
      </tr>
      <tr>
        <td>会員フラグ</td>
        <td>
          <% if @user.is_editor_i18n == "通常会員" %>
            <span class="text-primary">通常会員</span>
          <% else %>
            <span class="text-success">編集会員</span>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="m-5">
    <%= render 'mywork', user: @user %>
  </div>
</div>
