<div class="container">
  <table class="mx-auto my-5">
    <thead>
      <th></th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <td><%= image_tag @user.get_profile_image(100,100), class: "rounded-circle font-weight-bold shadow-sm" %></td>
      </tr>
      <tr>
        <td>Name</td>
        <td><%= @user.user_name %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <td>自己紹介文</td>
        <td><%= @user.bio %></td>
      </tr>
      <tr>
        <td>会員フラグ</td>
        <td>
          <% if @user.is_editor_i18n == "通常会員" %>
            <span class="text-primary">通常会員</span>
          <% else %>
            <span class="text-success">編集会員</span>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  <p>
    <% if current_user != @user %>
      <% if current_user.following?(@user) %>
        <%= link_to 'フォロー外す', user_relationships_path(@user.id), method: :delete, class: "btn btn-danger" %>
      <% else %>
        <%= link_to 'フォローする', user_relationships_path(@user.id), method: :POST, class: "btn btn-success" %>
      <% end %>
    <% end %>
  </p>
  <div class="d-flex">
    <%= link_to follows_user_path(@user) do %>
      <h6><%= @following_users.count %> Follow</h6>
    <% end %>&nbsp;&nbsp;
    <%= link_to followers_user_path(@user) do %>
      <h6><%= @follower_users.count %> Follower</h6>
    <% end %>
  </div>
  <div class="m-5">
    <%= render 'mywork', user: @user, skills: @skills %>
  </div>
</div>
