<div class="container">
  <% if flash[:notice] %>
    <p class="text-active"><%= flash[:notice] %></p>
  <% end %>
  <h2 class="my-4">マイページ</h2>
  <h3 class="text-center">
    登録情報
    <% if @user.email == 'guest@example.com'%>
      <span class="text-danger">ゲストユーザーはユーザー情報の編集ができません。</span>
    <% else %>
      <div class="row">
        <span class="button_edit col-md-6"><%= link_to "編集する", edit_information_path, class: "btn btn-success" %></span>
        <span class="button_edit col-md-6"><%= link_to "パスワードを変更する",  edit_user_registration_path, class: "btn btn-primary" %></span>
      </div>
    <% end %>
  </h3>
  <div class="text-center my-4">
    <%= image_tag @user.get_profile_image(100,100), class: "rounded-circle font-weight-bold shadow-sm" %>
  </div>
  <table class="table table-bordered">
    <thead>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <td>Name</td>
        <td><%= @user.user_name %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <td>自己紹介文</td>
        <td><%= @user.bio %></td>
      </tr>
      <tr>
        <td>会員フラグ</td>
        <td>
          <% if @user.is_editor_i18n == "通常会員" %>
            <span class="text-primary">通常会員</span>
          <% else %>
            <span class="text-success">編集会員</span>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row offset-md-5 my-2">
    <div class="col-2">
      <%= link_to follows_user_path(@user) do %>
        <h5><%= @following_users.count %> Follow</h5>
      <% end %>&nbsp;&nbsp;
    </div>
    <div class="col-2">
      <%= link_to followers_user_path(@user) do %>
        <h5><%= @follower_users.count %> Follower</h5>
      <% end %>
    </div>
  </div>

  <div>
    <h5><%= link_to "お気に入りの実績", favorites_path(@user) %></h5>
  </div>

  <%= render 'mywork', user: @user, skills: @skills %>

  <div class="flex">
    <!--%= link_to "注文履歴一覧", orders_path, class: "btn btn-primary ml2" %>-->
  </div>
</div>