<div class="flex">
  <ul class="nav pull-right nav-pills">
    <li class="border rounded m-1"><%= link_to '会員一覧', admin_users_path, class: 'nav-link text-dark' %></li>
    <li class="border rounded m-1"><%= link_to 'ジャンル一覧', admin_genres_path, class: 'nav-link text-dark' %></li>
    <li class="border rounded m-1"><%= link_to '実績一覧', admin_works_path, class: 'nav-link text-dark' %></li>
    <li class="border rounded m-1"><%= link_to '注文履歴一覧', admin_orders_path, class: 'nav-link text-dark' %></li>
    <li class="border rounded m-1"><%= link_to '商品一覧', admin_skills_path, class: 'nav-link text-dark' %></li>
    <li class="border rounded m-1"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %></li>
  </ul>
  <%= form_tag(admin_search_path, method: :get) do %>
    <%= text_field_tag "search[content]","", :placeholder =>"会員" %>
    <%= select_tag "search[model]", options_for_select({"会員" => "user", "商品" => "skill"}) %>
    <%= select_tag "search[method]", options_for_select({ "部分一致" => "partial", "前方一致" => "forward", "後方一致" => "backward", "完全一致" => "perfect" }) %>
    <%= submit_tag '検索', class: "btn btn-primary" %>
  <% end %>
</div>