<!DOCTYPE html>
<html>
  <head>
    <title>WannaEdit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="shadow-sm">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <%= link_to 'WannaEdit', (admin_signed_in? ? admin_top_path : root_path ), class: "logo" %>

        <div id="navbarNavDropdown">
          <ul class="list-unstyled navbar-nav">
            <% if admin_signed_in? %>
              <%= render partial: "layouts/admin_header" %>
            <% elsif user_signed_in? %>
              <%= render partial: "layouts/users_header" %>
            <% else %>
              <%= render partial: "layouts/nomal_header" %>
            <% end %>
          </ul>
        </div>

      </div>
    </nav>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
